
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Overseas</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/assets/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/assets/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/assets/plugins/jquery-steps/css/jquery.steps.css" >
    <link rel="stylesheet" href="~/assets/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">    

    <!-- Custom Stylesheet -->
    <link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">



    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/estilosModal.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" >

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        .logoBig{
            width: 170px; 
            height:130px; 
            margin-top:-50px;
        }
        .navbarFondo{
            background: linear-gradient(to left, #3a92d1, #84afce);
        }

        .sinAsignar{
            color: red;
        }
    </style>

</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header bg-white">
            <div class="brand-logo">
                <a asp-action="Index" asp-controller="Home">
                    <b class="logo-abbr"><img src="~/assets/images/LogoMini.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/assets/images/LogoMini.png" alt=""></span>
                    <span class="brand-title">
                        <img class="logoBig" src="~/assets/images/LogoOverseas.png" alt="">
                    </span>
                </a>
            </div>
        </div>





        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header navbarFondo navbarHeader">
            <div class="header-content ">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>

                <div class="header-left d-none d-sm-flex">
                    <div class="col-md ml-2 mt-4 mb-4">
                        <h3 class="color-dark" id="tituloMenu"></h3>
                    </div>
                </div>

                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons d-none d-md-flex">
                            <div class=" col-sm-2">
                                <span class="color-dark usernameNavbar"></span>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/assets/images/Persona.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a asp-action="CambiarPassword" asp-controller="Usuario"><i class="icon-user"></i> <span>Cambiar contraseña</span></a>
                                        </li>
                                        <li><a asp-action="Logout" asp-controller="Login"><i class="icon-key"></i> <span>Cerrar sesion</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Panel de control</li>
                    <li>
                        <a asp-action="Index" asp-controller="Home" aria-expanded="false">
                            <i class="fa fa-home menu-icon"></i><span class="nav-text">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ListarInscripciones" asp-controller="Inscripcion" aria-expanded="false">
                            <i class="fa fa-id-card-o menu-icon"></i><span class="nav-text">Matriculas</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-calendar menu-icon"></i> <span class="nav-text">Horarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-clock-o menu-icon"></i><span class="nav-text">Asistencia</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-pencil menu-icon"></i><span class="nav-text">Calificaciones</span>
                        </a>
                    </li>


                    <li class="nav-label">Configuracion</li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-book menu-icon"></i> <span class="nav-text">Cursos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-action="ListarCursosRegular" asp-controller="Curso">Cursos Regulares</a></li>
                            <li><a asp-action="ListarCursosPrivados" asp-controller="Curso">Cursos Privados</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="ListarTraducciones" asp-controller="Traduccion" aria-expanded="false">
                            <i class="fa fa-file-text-o menu-icon"></i><span class="nav-text">Traducciones</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ListarEstudiantes" asp-controller="Estudiante" aria-expanded="false">
                            <i class="fa fa-user-circle-o menu-icon"></i> <span class="nav-text">Estudiantes</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="ListarDocentes" asp-controller="Docente" aria-expanded="false">
                            <i class="fa fa-graduation-cap menu-icon"></i><span class="nav-text">Docentes</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ListarUsuarios" asp-controller="Usuario" aria-expanded="false">
                            <i class="fa fa-users menu-icon"></i> <span class="nav-text">Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ListarAmbientes" asp-controller="Ambiente" aria-expanded="false">
                            <i class="fa fa-home menu-icon"></i> <span class="nav-text">Ambientes</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ListarEspecialidades" asp-controller="Especialidad" aria-expanded="false">
                            <i class="fa fa-language menu-icon"></i> <span class="nav-text">Idiomas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="CursoEvaluacion" asp-controller="CursoEvaluacion" aria-expanded="false">
                            <i class="fa fa-th-list menu-icon"></i> <span class="nav-text">Evaluaciones</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            @RenderBody()
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        @*<div class="footer">
                <div class="copyright">
                    <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
                </div>
            </div>*@
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/gleek.js"></script>
    <script src="~/assets/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/assets/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/assets/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/assets/plugins/d3v3/index.js"></script>
    <script src="~/assets/plugins/topojson/topojson.min.js"></script>
    @*<script src="~/assets/plugins/datamaps/datamaps.world.min.js"></script>*@
    <!-- Morrisjs -->
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/assets/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/assets/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="~/assets/plugins/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/js/plugins-init/jquery-steps-init.js"></script>

    <script src="~/assets/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>


    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/assets/js/plugins-init/form-pickers-init.js"></script>




    @*<script src="~/assets/js/dashboard/dashboard-1.js"></script>*@

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/sweetAlert.js"></script>
    <script src="~/js/dataTableConfig.js"></script>
    <script src="~/js/validacionCampos.js"></script>

    <script src="~/js/funcionalidadEspecialidad.js"></script>
    <script src="~/js/funcionalidadAmbiente.js"></script>
    <script src="~/js/funcionalidadCurso2.js"></script>
    <script src="~/js/funcionalidadUsuario.js"></script>
    <script src="~/js/funcionalidadDocente.js"></script>
    <script src="~/js/funcionalidadEstudiante.js"></script>
    <script src="~/js/funcionalidadTraduccion.js"></script>
    <script src="~/js/funcionalidadHorario.js"></script>
    <script src="~/js/funcionalidadInscripciones.js"></script>
    <script src="~/js/funcionalidadCursoEvaluacion.js"></script>
    <script src="~/js/inicioAdmin.js"></script>

</body>

</html>