
@{
    ViewData["Title"] = "_Login";
}

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Overseas</title>
        <link href="~/css/Login.css" rel="stylesheet">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>


        <div class="content-body">
            @RenderBody()
            <!-- #/ container -->
        </div>

        <script src="~/js/funcionalidadLogin.js"></script>

    </body>
    </html>