
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="txtDniEst" class="control-label"> Dni: </label>
                <input type="text" class="form-control" id="txtDniEst" placeholder="Dni" maxlength="8" required>
                <span class="errores" id="errorDniEst">El dni debe tener 8 digitos</span>
            </div>

            <div class="form-group col-6">
                <center>
                    <img src="~/assets/images/imgEstudiante.png" height="80" width="80" />
                </center>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="txtNombresEst" class="control-label"> Nombres: </label>
                <input type="text" class="form-control" id="txtNombresEst" placeholder="Nombres del estudiante" maxlength="45" required>
                <span class="errores" id="errorNombresEst">Debe ingresar los nombres</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="txtApellidosEst" class="control-label"> Apellidos: </label>
                <input type="text" class="form-control" id="txtApellidosEst" placeholder="Apellidos del estudiante" maxlength="45" required>
                <span class="errores" id="errorApellidosEst">Debe ingresar los apellidos</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="txtCorreoEst" class="control-label"> E-mail: </label>
                <input type="text" class="form-control" id="txtCorreoEst" placeholder="estudiante@email.com" maxlength="45" required>
                <span class="errores" id="errorCorreoEst">Debe ingresar el correo electronico</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
                <label for="txtTelefonoEst" class="control-label"> Telefono: </label>
                <input type="text" class="form-control" id="txtTelefonoEst" placeholder="Telefono" maxlength="9" required>
                <span class="errores" id="errorTelefonoEst">Debe ingresar el telefono</span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="txtFechaNacEst" class="control-label"> Fecha de nacimiento: </label>
                <input type="date" class="form-control" id="txtFechaNacEst" placeholder="Fecha de nacimiento" required>
                <span class="errores" id="errorFechaNacEst">Debe ingresar la fecha de nacimiento</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="txtReferenciaEst" class="control-label"> Referencia: </label>
                <input type="text" class="form-control" id="txtReferenciaEst" placeholder="¿Como se entero de Overseas?" maxlength="45" required>
                <span class="errores" id="errorReferenciaEst">Debe ingresar una referencia</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="txtDireccionEst" class="control-label"> Direccion: </label>
                <input type="text" class="form-control" id="txtDireccionEst" placeholder="Direccion del estudiante" maxlength="45" required>
                <span class="errores" id="errorDireccionEst">Debe ingresar la direccion</span>
            </div>
        </div>
    </div>

    