
    <div class="col-md">

        <div class="form-row">
            <div class="form-group col-md">
                <label for="txtNombresAp" class="control-label"> Nombres: </label>
                <input type="text" class="form-control" id="txtNombresAp" placeholder="Nombres del apoderado" maxlength="45">
                <span class="errores" id="errorNombresAp">Debe ingresar los nombres</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md">
                <label for="txtApellidosAp" class="control-label"> Apellidos: </label>
                <input type="text" class="form-control" id="txtApellidosAp" placeholder="Apellidos del apoderado" maxlength="45">
                <span class="errores" id="errorApellidosAp">Debe ingresar los apellidos</span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md">
                <label for="txtCorreoAp" class="control-label"> E-mail: </label>
                <input type="text" class="form-control" id="txtCorreoAp" placeholder="apoderado@email.com" maxlength="45">
                <span class="errores" id="errorCorreoAp">Debe ingresar el correo electronico</span>
            </div>
        </div>


    </div>
