
<div class="col-lg-12">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="txtDniDoc" class="control-label"> Dni: </label>
            <input type="text" class="form-control" id="txtDniDoc" placeholder="Dni" maxlength="8" required>
            <span class="errores" id="errorDniDoc">El dni debe tener 8 digitos</span>
        </div>
        <div class="form-group col-6">
            <center>
                <img src="~/assets/images/imgDocente.png" height="80" width="80" />
            </center>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="txtNombresDoc" class="control-label"> Nombres: </label>
            <input type="text" class="form-control" id="txtNombresDoc" placeholder="Nombres del docente" maxlength="45" required>
            <span class="errores" id="errorNombresDoc">Debe ingresar nombres</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="txtApellidosDoc" class="control-label"> Apellidos: </label>
            <input type="text" class="form-control" id="txtApellidosDoc" placeholder="Apellidos del docente" maxlength="45" required>
            <span class="errores" id="errorApellidosDoc">Debe ingresar apellidos</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="txtCorreoDoc" class="control-label"> E-mail: </label>
            <input type="email" class="form-control" id="txtCorreoDoc" placeholder="docente@email.com" maxlength="45" required>
            <span class="errores" id="errorCorreoDoc">Debe ingresar el correo electronico</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
            <label for="txtTelefonoDoc" class="control-label"> Telefono: </label>
            <input type="tel" class="form-control" id="txtTelefonoDoc" placeholder="Telefono" maxlength="9" required>
            <span class="errores" id="errorTelefonoDoc">Debe ingresar un telefono</span>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="txtFechaNacDoc" class="control-label"> Fecha de nacimiento: </label>
            <input type="date" class="form-control" id="txtFechaNacDoc" placeholder="Fecha de nacimiento" required>
            <span class="errores" id="errorFechaNacDoc">Debe ingresar la fecha de nacimiento</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="txtDireccionDoc" class="control-label"> Direccion: </label>
            <input type="text" class="form-control" id="txtDireccionDoc" placeholder="Direccion del docente" maxlength="45" required>
            <span class="errores" id="errorDireccionDoc">Debe ingresar una direccion</span>
        </div>
    </div>
</div>






