
<div class="container mt-3">
    <div class="col-md-6">
        <div class="containerRegistroCurso">            
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="color-pale-sky" id="cursoFormHeader"></h3>
                    </div>
                    <form>
                        <div class="form-group form-row">
                            <div class="col-6">
                                <label class="control-label">Programa</label>
                                <input id="txtProgramaCurso" class="form-control" disabled />
                                <span class="errores"></span>
                            </div>
                            <div class="col-6">
                                <label class="control-label">Modalidad</label>
                                <select class="custom-select form-control color-dark" id="txtModalidadCurso">
                                    <option selected value="Grupal">Grupal</option>
                                    <option value="Personalizado">Personalizado</option>
                                </select>
                                <span class="errores" id="errorModalidadCurso">Seleccione una modalidad</span>
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-6">
                                <label class="control-label" id="labelIdiomaCurso">Idioma</label>
                                <select class="custom-select form-control" id="txtIdiomaCurso">
                                </select>
                                <span class="errores" id="errorIdiomaCurso">Seleccione un idioma</span>
                            </div>
                            <div class="col-6">
                                <label id="labelDetalleCurso" class="control-label"></label>
                                <input id="txtDetalleCurso" class="form-control" />
                                <span class="errores" id="errorDetalleCurso">El campo esta vacio</span>
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-6">
                                <label class="control-label">Nivel</label>
                                <input id="txtNivelCurso" class="form-control" />
                                <span class="errores" id="errorNivelCurso">El campo esta vacio</span>
                            </div>
                            <div class="col-6">
                                <label class="control-label">Ciclo</label>
                                <input id="txtCicloCurso" class="form-control" />
                                <span class="errores" id="errorCicloCurso">El campo esta vacio</span>
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-6">
                                <label class="control-label">Fecha Inicio</label>
                                <div class="input-group">
                                    <input type="text"  class="form-control mdate" id="txtFechaInicioDeCurso" placeholder="yyyy-mm-dd">
                                    <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                </div>                                 
                                <span class="errores" id="errorFechaInicioDeCurso">Ingrese una fecha inicio</span>
                            </div>
                            <div class="col-6">
                                <label class="control-label">Fecha Fin</label>
                                 <div class="input-group">
                                    <input type="text"  class="form-control mdate" id="txtFechaFinDeCurso" placeholder="yyyy-mm-dd">
                                    <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                </div>                                 
                                <span class="errores" id="errorFechaFinDeCurso">Ingrese una fecha fin</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Docente</label>
                            <div class="form-check-inline col-12">
                                <input id="txtDocenteCurso" class="form-control"/>
                                <button onclick='ListarDocentesActivosCurso()' type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalBuscarDocente" rel="tooltip" title="Buscar Docente">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-info" onclick="GuardarCurso()">Guardar</button>
                            <button type="button" class="btn btn-danger" onclick="ListarCursos()" asp-action="ListarCursosRegulares">Cancelar</button>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


