
@{
    ViewData["Title"] = "ListarCursosRegular";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="ViewCursosPrivados" class="container mt-3">
    <div id="containerCursosPrivados" class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <button id="btnInglesGeneral" onclick="SelecInglesGeneral()" class="btn btn-outline-info">
                    Inglés General
                </button>
            </li>
            <li class="nav-item">
                <button id="btnInglesNiños" onclick="SelecInglesNiños()" class="btn btn-outline-info">
                    Inglés Para Niños
                </button>
            </li>
            <li class="nav-item">
                <button id="btnExamInter" onclick="SelecExamInter()" class="btn btn-outline-info">
                    P. Exam. Internacional
                </button>
            </li>
            <li class="nav-item">
                <button id="btnDomicilio"  onclick="SelecDomicilio()" class="btn btn-outline-info">
                    Domicilio
                </button>
            </li>
            <li class="nav-item">
                <button id="btnCorporativo" onclick="SelecCorporativo()" class="btn btn-outline-info">
                    Corporativo
                </button>
            </li>
            <li class="nav-item">
                <button id="btnOtrosIdiomas" onclick="SelecOtrosIdiomas()" class="btn btn-outline-info">
                    Otros Idiomas
                </button>
            </li>
        </ul>
        <div id="containerListadoCurso">    
            <div class="row mt-3">
                <div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    <button type="button" class="btn btn-outline-secondary" onclick="MostrarFormCurso()" rel="tooltip" title="Agregar">Nuevo curso</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover" id="tablaCursosPrivado">
                                        <thead id="cabeceraTablaCursosPrivado">
                                            <tr>                                            
                                                <th>Idioma</th>
                                                <th>Nivel</th>
                                                <th>Ciclo</th>
                                                <th id="cabeceraDetalleCursoPrivado"></th>
                                                <th>Docente</th>
                                                <th>Periodo</th>
                                                <th>Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="contenidoTablaCursosPrivado">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="containerFormCurso">
        <partial name="~/Views/Curso/_FormCurso.cshtml">
        <partial name="~/Views/Curso/_ModalBuscarDocente.cshtml">
    </div>

    <div id="containerFormHorario">
        <partial name="~/Views/Horario/CrearHorario.cshtml">
    </div>



</div>





