
    <div>
        <div class="form-check-inline p-2">
            <div class="col">
                <h4 class="color-pale-sky">CURSO</h4>
            </div>
            <div class="col">
                <button class="btn btn-outline-info" id="btnBuscarCursosInscripcion" onclick="ListarCursosInscripcion()" data-toggle="modal" data-target="#formCursoInscripcionModal" rel="tooltip" title="Buscar curso">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="tableCursoInscripcion">
                <thead>
                    <tr>
                        <th>PROGRAMA</th>
                        <th>CURSO</th>
                        <th>NIVEL</th>
                        <th>PERIODO</th>
                        <th>DOCENTE</th>
                    </tr>
                </thead>
                <tbody id="dataCursoSeleccionado">
                </tbody>
            </table>
        </div>
    </div>