

    <div>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="txtDescripcionEsp" class="control-label"> Nuevo: </label>
                <input type="text" class="form-control" id="txtDescripcionEsp" placeholder="Agregar idioma" maxlength="45">
                <span class="errores" id="errorDescripcionEsp">Debe llenar el campo</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="RegistrarEspecialidad()">Agregar</button>
        </div>
    </div>