
@{
    ViewData["Title"] = "CalificacionDocente";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}


<div class="container mt-3" id="viewCalificacionDocente">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <partial name="~/Views/Calificacion/_BuscadorCursosDocente.cshtml">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="form-check-inline p-2">
                            <div class="col">
                                <h4 class="color-pale-sky">ESTUDIANTES</h4>
                            </div>
                        </div>

                        <div>
                            <table class="table table-hover table-bordered" id="tableCalificacionesDocente">
                                <thead>
                                    <tr>
                                        <th>APELLIDOS</th>
                                        <th>NOMBRES</th>
                                        <th>NOTAS</th>
                                    </tr>
                                </thead>
                                <tbody id="dataCalificacionesDocente">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="col">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="color-pale-sky">NOTAS</h4>
                            </div>
                        </div>
                        <h5 id="txtNotasDocenteEstudiante" class="color-pale-sky"></h5>
                    </div>
                    <table class="table table-hover table-bordered" id="tableNotasDocente">
                        <thead>
                            <tr>
                                <th>EVALUACIÓN</th>
                                <th>NOTA</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="dataNotasDocente">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>



<partial name="~/Views/Calificacion/_ModalTablaCursosDocente.cshtml">
<partial name="~/Views/Calificacion/_ModalEditarCalificacion.cshtml">
<partial name="~/Views/Calificacion/_ModalFeedback.cshtml">
