<div class="col-md-6">
         <div class="containerRegistroTraduccion">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4> Nueva Traduccion</h4>
                        <br>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="txtClienteTraduccion">Cliente : </label>				        	
                            <input type="text" class="form-control" id="txtClienteTraduccion">
                            <span class="errores" id="errorClienteTraduccion">*Debe llenar el campo Cliente</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="txtDetalleTraduccion">Detalle : </label>				        	
                            <input type="text" class="form-control" id="txtDetalleTraduccion">
                            <span class="errores" id="errorDetalleTraduccion">*Debe llenar el campo Detalle</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Idioma Origen</label>
                            <select class="form-control" id="selectorIdiomaOrigen"></select>
                            <span class="errores" id="errorIdiomaOrigen">*Seleccione un idioma de Origen</span>                                                                                    
                        </div>        
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Idioma Destino</label>
                            <select class="form-control" id="selectorIdiomaDestino"></select>
                            <span class="errores" id="errorIdiomaDestino">*Seleccione un idioma de destino</span> 
                        </div>                                
                    </div>                    

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="txtFechaTraduccion">Fecha : </label>				        	
                            <input type="date" class="form-control" id="txtFechaTraduccion">
                            <span class="errores" id="errorFechaTraduccion">*Debe llenar el campo Fecha</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtTipoTraduccion">Tipo : </label>				        	
                            <input type="text" class="form-control" id="txtTipoTraduccion">
                            <span class="errores" id="errorTipoTraduccion">*Debe llenar el campo Tipo</span>
                        </div>                    
                    </div>                         
                    <div class="form-row">                                  
                        <div class="col-md-12 mb-3">                                
                            <label for="txtNombreDocente">Docente : </label>				        	
                            <div class="form-inline">                                                                        
                                <input type="text" class="form-control" id="txtDocenteTraduccion" disabled>                                          
                                <div class="col-1">
                                    <button onclick='ListarDocentesActivosTraduccion()' type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalBuscarDocente" rel="tooltip" title="Buscar Docente">
                                    <span class="fa fa-search"></span>
                                    </button>                                                		            		           
                                </div>                                  
                                <input type="text" id="txtIdDocente" hidden>                                
                            </div>                              
                        </div>                                                              
					</div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="habilitar" id="checkBoxDocente" name="checkBoxDocente">
                            <label class="form-check-label" for="checkBoxDocente">
                             Docente Sin Asignar
                            </label>
                        </div>
                    </div>
                    <div class="form-group" >
					    <div class="col text-center" >
                            <button onclick = 'GuardarEditarTraduccion("Guardar")'  id="btnGuardarTraduccion"  type="button" class="btn btn-outline-primary">GUARDAR</button>                    
                            <button onclick='ListarTraducciones()' type="button" class="btn btn-outline-danger">CANCELAR</button>                                                  
					    </div>
				    </div>
                </div>
            </div>
         </div>
     </div>




